<div class="container">
    <div class="footer-content">
        <!-- Placeholder logo image -->
        <img src="assets/images/consultedLogoWhite.png" alt="Consult Ed Logo" class="footer-logo">

        <h3>We would love to hear from you</h3>
        <p>Feel free to reach out if you want to collaborate or simply have a chat.</p>
        <button onclick="getStarted()">Get Started</button>
        <address>
            <p>consultEd@gmail.com</p>
            <p>+01-234-56789</p>
            <p>Tagum, Visayan Village, St Noggeer B3 l23</p>
        </address>
    </div>
    <div class="footer-links">
        <a href="index.html">Home</a>
        <a href="inbox.html">Inbox</a>
        <a href="news.html">News</a>
        <a href="about.html">About Us</a>
        <a href="#" id="logoutButton">Logout</a>
    </div>
</div>
